{% extends "BaseTemplate.html" %}
{% block title %} Personnes du Carnet {% endblock %}
{% block head %}
{{ parent () }}
<style type="text/css">
.important { color: #336699; }
</style>
{% endblock %}

{% block content %}

<p align="center" class="Style1">{{ titre }} </p>
<table border="2" align="center" cellspacing ="0" cellpadding ="2" >
<tr bgcolor="#CA9999">
<td width="50"><strong>numero </strong></td>
<td width="50"><strong>Nom </strong></td>
<td width="50"><strong>Prenom </strong></td>
<td width="30"><strong>Age </strong></td>
<td width="50"><strong>Ville </strong></td>
</tr>
{% set i=0 %}
{% for ami in amis %}
{% set i=i+1 %}
{% if i is odd %}
<tr bgcolor="#F0F0F0">
{% else %}
<tr bgcolor="#A6A6A6">
{% endif %}
<td>{{ ami.ID}}</td>
<td>{{ ami.NOM }}</td>
<td>{{ ami.PRENOM }}</td>
<td>{{ ami.NAISSANCE }}</td>
<td>{{ ami.VILLE }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}