*{
margin-left:0;
margin-bottom:0;
margin-right:0;
margin-top:0;
padding-left:0;
padding-bottom:0;
padding-right:0;
padding-top:0;
border-bottom-style: solid;
border-left-style: solid;
border-right-style: solid;
border-top-style: solid;
border-width: thin;
}
body{
width:10cm;
}
#p1{background-color: lightblue ;}
#p2{background-color: lightpink ;}
#section1{background-color: yellow ;}
