Package: dhcp3-common
Source: dhcp3
Version: 3.1.1-6+lenny6
Architecture: i386
Maintainer: Andrew Pollock <apollock@debian.org>
Installed-Size: 552
Depends: debianutils (>= 2.8.2), libc6 (>= 2.7-1)
Section: net
Priority: important
Description: common files used by all the dhcp3* packages
 This package contains the files used by all the packages from ISC
 DHCP version 3.
