body{
  background-image: url("https://www.ouest-france.fr/leditiondusoir/data/24289/NextGenData/Image-1024-1024-5268583.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

#us{
  position: absolute;
  width : 15%;
  height : 12%;
}

#french{
  position: absolute;
  width : 15%;
  height : 12%;
}

#a_french{
  padding-left: 85%;
}