#menu, #footer{
  display: flex;
  flex-wrap: nowrap;
}

#menu{
  background-color: #EC1E29;
}

#menu li, #footer li{
  flex-grow: 1;
  list-style: none; /*enleve points des listes*/
  padding-top: 2em;
  padding-bottom: 2em;
}
#menu a{
  text-decoration: none;
  color: white;
}

header img{
  width : 100%;
}

.logo{
  width:3em;
  height:3em;
}

.saison{
  display: flex;
  flex-wrap: nowrap;
}

.contenu_saison h1{
  padding-top: 12%;
  padding-left: 48%;
}

.contenu_saison3 h1{
  padding-top: 26%;
  padding-left: 48%;
}

.contenu_saison4 h1{
  padding-top: 16%;
  padding-left: 48%;
}

.contenu_saison4{
  flex-grow: 2;
}
.contenu_saison p, .contenu_saison3 p, .contenu_saison4 p {
  text-align: center;
}
