/* TODO */
#presentation em, #classique, #speciale{
      color: blue;
}
#deroulement em, .green{
      color: green;
}
#em em, .bold{
      font-weight: bold;
}
.souligne {
  text-decoration:underline;
}
.italique{
      font-style: italic;
}
.boldita{
    font-style: italic;
    font-weight: bold;
}
#violet{
  color:purple;
}
#cellule-rose{
  background-color: pink;
}
#cellule-moutarde{
  background-color: yellow;
}
#cellule-olive{
  background-color: green;
}
#cellule-violet{
  background-color: purple;
}
#cellule-pervenche{
  background-color: red;
}
