/* TODO */
#em1, #classique, #speciale{
      color: blue;
}
#em2, #green{
      color: green;
}
#em3, #bold{
      font-weight: bold;
}
#souligne {
  text-decoration:underline;
}
#italique{
      font-weight: italic;
}
