body *{
  margin: 0.5em 0.5%;
  padding:0.5em 0.5%;
}
#gris{ background: lightgrey;}
#vert{ background: lightgreen;} 
#jaune{ background: lightyellow;}
#rose{ background: lightpink;}
p{ background: lightblue;}
